/*Gattai Standad Site CSS*/

/*Header Starts*/
#header
{
	position: fixed;
	margin: -70px auto 0 auto;
	padding: 2px 0 2px 0;
	width: 100%;
	background-color: #E6531E;
	font-weight: bold;
	font-size: 1.25em;
	outline-color: #982C0E;
	outline-style: solid;
	outline-width: 0 0 10px 0;
	color: white !important;
	z-index: 9;
	pointer-events: all;
	vertical-align: baseline;
	text-align: center;
}

#headerSocial
{
	margin: 8px 1em 0px 0;
	display: block;
	float: right;
	background-color: transparent;
}

.socialButton
{
	width: 32px;
	height: 32px;
	margin: 0 0 0 2px;
	-webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
	z-index: 17;
	background-color: transparent;
	filter: brightness(100);
}

.socialButton:hover
{
	background-color: white;
	filter: brightness(1);
}

#floatingNewsletter
{
	position: fixed;
	right: 1em;
	margin: -25px -2px 0 0;
	padding: 7px 5px 8px 5px;
	width: 190px;
	display: block;
	float: right;
	background-color: #E6531E;
	z-index: 14;
	font-size: 1em;
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 0px 0px 5px 5px;
}

.subEmail
{
	font-family: "OrkneyRegular" !important;
	font-size: 1em;
	border: none !important;
	background-color: white;
	padding: 5px 5px 3px 5px;
	width: 94%;
	-webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
}

.subButton
{
	font-family: "OrkneyBold" !important;
	font-size: 1em;
	font-weight: 3000;
	text-transform: uppercase;
	border: none !important;
	background-color: white;
	color: #F05A24;
	padding: 5px 0px 3px 0px;
	margin: 7px 0 0 0;
	width: 100%;
	-webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
}

.subButton:hover
{
	background-color: #ff8400;
	color: white;
}
/*Header Ends*/

/*Game Specific Floats*/
#floatingsocial
{
	position: fixed;
	margin: 50px 0 0 10px;
	right: 0.25em;
	width: 135px;
	color: white !important;
	z-index: 10;
	pointer-events: all !important;
	background-color: transparent;
	padding: 10px;
}

#floatingsocialFacebook
{
	width: 20px;
}
/*Game Specific Floats Ends*/

/*Gattai Branding*/
#GattaiLabel
{
	position: fixed;
	top: -5px;
	width: 100%;
	z-index: 10;
	background-color: transparent;
	pointer-events: none;
}

.gattaiLogo{
	width: 8em;
	float: left;
	margin-left: 1em;
	margin-top: -8.7em;
	background-color: #F05A24;
	padding: 0.25em;
	pointer-events: all !important;
}

.hvr-sink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
	z-index: 5;
}
.hvr-sink:hover, .hvr-sink:focus, .hvr-sink:active {
  -webkit-transform: translateY(9em);
  transform: translateY(9em);
}
/*Gattai Branding Ends*/


/*Footer Starts*/
.gattailink
{
	color: #F05A24 !important;
}

.gattailink:hover
{
	text-decoration: underline;
}

.gattailink:visited
{
	color: #F05A24 !important;
}

#footer
{
	margin-top: 20px;
	padding: 5px 0 5px 0 !important;
	width: 100%;
	background-color: #111111;
	font-weight: bold;
	font-size: 1em;
	color: #666666 !important;
	z-index: 9;
	pointer-events: all;
	vertical-align: baseline;
	text-align: center;
}
/*Footer Ends*/
